[submodule "components/Devices/A52sxq"]
	path = components/Devices/A52sxq
	url = https://github.com/woa-a52s/windows_oem_samsung_a52sxq
[submodule "components/QC7325"]
	path = components/QC7325
	url = https://github.com/Project-Aloha/windows_silicon_qcom_kodiak
